*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222;
}
/*nav bar*/

nav .logo{
    width: 90px;
    object-fit: contain;
    margin: 8px 20px;
}
nav .profile{
    width: 50px;
    object-fit: contain;
    margin: 10px 20px;
    border-radius: 50%;
    border: 2px solid #fff;
}
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    background-color: black;
}
nav .profile2 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: white;
    margin-right: 50px;
}
nav .profile2 .text{
    margin-right: 10px;
}
nav .profile2 .join{
    background-color: red;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 2px;
    margin-right: 10px;
}
nav .profile2 .sign-in{
    background-color: black;
    color: #fff;
    padding: 8px 15px;
    border: 0.2px solid #fff;
    border-radius: 2px;
}
.banner{
    background-image: url(assets/jpg/banner/banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 120vh;
}
.banner .banner-contents{
    padding: 12% 5%;
}
.banner .banner-contents .banner-title img{
    height: 13vh;
    width: 30%;
}
.banner .banner-contents .banner-title h1{
    font-size: 2rem;
    font-weight: 700px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    letter-spacing: 1.5px;
    margin-top: 50px;
}
.banner .banner-contents .banner-title .header-para{
    color: #a3a3a3;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 1.5%;
}
.banner .banner-contents .banner-title .header-para span{
    margin-right: 5px;
}
.banner .banner-contents .banner-title .header-content{
    color: aliceblue;
    font-size: 1rem;
    max-width: 450px;
    padding: 1.5% 0%;
}
.banner .banner-contents .banner-title .roles p{
    padding: 0px;
    margin: 0px;
    color: #fff;
}
.banner .banner-contents .banner-title .roles p span{
    color: #a3a3a3;
    margin-right: 5px;
}
.banner .banner-contents .banner-buttons .play{
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1% 2%;
    font-size: 1.3rem;
    margin-right: 10px;
    transition: .5s;
}
.banner .banner-contents .banner-buttons .play:hover{
    background-color: #fff;
    color: #333;
}
.banner .banner-contents .banner-buttons .info{
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 1% 2%;
    font-size: 1.3rem;
    margin-right: 5px;
    transition: .5s;
}
.banner .banner-contents .banner-buttons .info:hover{
    background-color: #333;
    color: #fff;
}
.banner .bannerfooter .bntg{
    display: flex;
    text-align: center;
    padding: 2px;

}
.banner .bannerfooter .bntg img{
    max-width: 100%;
    padding-top: 2px;
    height: 90%;
}
.banner .bannerfooter .bntg p{
    max-width: 100%;
    padding-top: 18px;
    padding-left: 4px;
    height: 90%;
    color: #f9f6f6;
    font-weight: 600;
    font-size: 1.1rem;
}
.bannerfooter .bnbtn .bnftrbtn{
    background-color: #fd0606;
    padding: 10px 30px;
    margin-top: 10px;
    border:2px solid #666;
    border-radius: 2px;
    color: #f9f6f6;

}
.bannerfooter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    margin-top: 15%;
    padding: 0px 20px;
    background:linear-gradient(90deg,#333 5%,#181818 95%);
    box-shadow: 8px 5px 16px 0 rgba(0,0,0,.37);
    margin-bottom: 32px;
    height: 9vh;
}
